@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<a href="http://academgorodock.livejournal.com/427.html" target="_blank">Мой Академгородок (воспоминания М.С. Кочана)</a>
<br />
<a href="http://timich.ru/" target="_blank">Фотографии Академгородка</a>
<br />
<a href="https://picasaweb.google.com/114832829165499627489/ThZXC#" target="_blank">Театр-студия Академгородка</a>
<br />
<a href="http://www.youtube.com/watch?v=JjHvH4BvPZU&feature=relmfu" target="_blank">Карнавал-67</a>
<br />
<a href="http://www.youtube.com/watch?v=FGVGuyWbWVc" target="_blank">Прогулки по Академгородку, 1969 год</a>
<br />
<a href="http://youtu.be/oo_uOmr9E8o" target="_blank">Песня об Академгородке Елены Борейко</a>
<br />
<a href="http://w-o-s.ru/article/3659" target="_blank">Хроника одной утопии: из истории Академгородка</a>
<br />
<a href="http://history.sib-science.info/" target="_blank">Сибирское Отделение Российской академии наук - год за годом...</a>
<br />
<a href="http://duh.iis.nsk.su/openarchive/" target="_blank">Открытый архив СО РАН</a>
<br />
