<?xml version="1.0" encoding="utf-8" ?>
<config>
	<database dbname="oa" connectionstring="polar:D:\home\FactographDatabases\polar\"/>
  <!--<LoadCassette regime="nodata">C:\WinApps\FactographProjects\Cassette_test20180311</LoadCassette>-->

  <LoadCassette write="no">C:\home\syp\syp_cassettes\SypCassete</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\SypUsers</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp_2012_1</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp_2012_mag</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp_2012_Tikhonova</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp_2013</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2011</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2011video</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2013Users</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2013video</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2014</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2014conf_video</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2014Users</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2014video</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2015</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2015Bratus</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2015conf_video</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2015Users</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2015video</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2016</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2016Users</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2016video</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2016video2</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2017</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2017Users</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2017video</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2018</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2018Users</LoadCassette>
  <LoadCassette write="no">C:\home\syp\syp_cassettes\Syp2018video</LoadCassette>

</config>
