<?xml version="1.0" encoding="utf-8" ?>
<config>

  <!--<database dbname="openarchive5" connectionstring="net:http://localhost:49197/"/>-->

  <!--database dbname="pa" connectionstring="trs:C:/WinApps/PolarDatabases/PolarOpenArchive3dev/"/-->
  <database dbname="pa" connectionstring="xml:"/>

  <LoadCassette write="no">D:\Home\FactographProjects\syp_cassettes\SypCassete</LoadCassette>

</config>
