<?xml version="1.0" encoding="utf-8" ?>
<config>
  
  <database dbname="syp" connectionstring="xml:" />
  <!--database connectionstring="trs:C:\WinApps\PolarDatabases\PolarSoran\"/-->

  <LoadCassette>D:\Home\FactographProjects\syp_cassettes\SypCassete</LoadCassette>
  
  
  <!--<LoadCassette>E:\FactographProjects\PA_cassettes\da1</LoadCassette>
  <LoadCassette>E:\FactographProjects\PA_cassettes\da2</LoadCassette>
  <LoadCassette>E:\FactographProjects\PA_cassettes-1\da3</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\gi_pharchive</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\kbrd2010</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\PA_database201012</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\PA_folder_collections</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\PA_folders01-20</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\PA_folders24-59</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\PA_folders60-99</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\PA_folders100-111</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\RAS_57</LoadCassette>
  <LoadCassette regime="nodata">E:\FactographProjects\PA_cassettes\SBRAS_2009_12</LoadCassette>
  <LoadCassette>E:\FactographProjects\PA_cassettes\w100531</LoadCassette>
  <LoadCassette>E:\FactographProjects\PA_cassettes\PA_Users</LoadCassette>-->
  
  <!--
  <LoadCassette write="yes">E:\home\FactographProjects\PA_cassettes-1\T_Users</LoadCassette>
  <LoadCassette regime="nodata">E:\home\FactographProjects\PA_cassettes-1\PA_naukaVVV</LoadCassette>
  <LoadCassette regime="nodata">E:\home\FactographProjects\PA_cassettes-1\PA_video</LoadCassette>
  -->
</config>
