@{

}


	<div class="heading3"> 
		<h3>Полезные ссылки</h3>
	</div>
					
    <ul class="links">
        <li><a href="http://ershov.iis.nsk.su/russian/index.html">Электронный архив академика А.&nbsp;П.&nbsp;Ершова</a></li>
        <li><a href="http://soran1957.ru/">Фотоархив СО&nbsp;РАН</a></li>
        <li><a href="http://lyapunov.vixpo.nsu.ru/">Музей чл-корр. АН&nbsp;СССР А .А. Ляпунова</a></li>
        <li><a href="http://www.rusarchives.ru/">Портал &laquo;Архивы России&raquo;</a></li>
        <li><a href="http://www.arran.ru/?q=ru">Архивы РАН</a></li>
        <li><a href="http://gramoty.ru/">Сайт &laquo;Древнерусские берестяные грамоты&raquo;</a></li>
        <li><a href="http://books.mathtree.ru/">Коллекция старинных математических книг</a></li>
        <li><a href="http://www.museum.ru/">Портал &laquo;Музеи России&raquo;</a></li>

        <li><a href="https://proza.ru/avtor/mikat/?q=ru">Михаил Самуилович Качан. Воспоминания</a></li>
        <li><a href="https://monornament.ru/">Сайт «Монголо-бурятский орнамент»</a></li>
        <li><a href="https://www.integralmuseum.ru/">Интегральный музей-квартира повседневности Академгородка</a></li>
        <li><a href="http://modernproblems.org.ru/">Современные проблемы. Библиотека им. Елены Евдокимовой</a></li>
    </ul>