<p class="grad">
    <a href="~/Home/Index" class="nov"><img src="~/images/ico-home.gif" class="ico-home" alt="" />Открытый архив</a>
    &raquo;
    Участники
</p>


<div class="heading1">
    <h1>Участники проекта</h1>
</div>

<ul class="links">
    <li><a href="http://www.sbras.nsc.ru/">Президиум СО РАН</a></li>
    <li><a href="http://www.iis.nsk.su/">Институт систем информатики им.&nbsp;А.&nbsp;П.&nbsp;Ершова СО&nbsp;РАН</a></li>
    <li><a href="http://www.archaeology.nsc.ru/default.aspx">Институт археологии и&nbsp;этнографии СО&nbsp;РАН</a></li>
    <li><a href="http://www.history.nsc.ru/">Институт истории СО РАН</a></li>
    <li><a href="http://www.spsl.nsc.ru/">Государственная публичная научно-техническая библиотека СО&nbsp;РАН</a></li>
    <li><a href="http://imbt.ru/">Институт монголоведения, буддологии и&nbsp;тибетологии БНЦ СО&nbsp;РАН</a></li>
</ul>

<br />
<img src="~/images/line-dotted.gif" width="150" height="1" alt="" />

<p>См. также:</p>
<ul class="also">
    <li><a href="~/Home/About">О проекте</a></li>
    <li><a href="~/Home/Contacts">Контакты</a></li>
</ul>

@section rightpanel    {

    @*@RenderPage("PageUseLinks.cshtml")*@
    <div class="heading3">
        <h3>Полезные ссылки</h3>
    </div>

    <ul class="links">
        <li><a href="http://ershov.iis.nsk.su/russian/index.html">Электронный архив академика А.&nbsp;П.&nbsp;Ершова</a></li>
        <li><a href="http://soran1957.ru/">Фотоархив СО&nbsp;РАН</a></li>
        <li><a href="http://lyapunov.vixpo.nsu.ru/">Музей чл-корр. АН&nbsp;СССР А .А. Ляпунова</a></li>
        <li><a href="http://www.rusarchives.ru/">Портал &laquo;Архивы России&raquo;</a></li>
        <li><a href="http://www.arran.ru/?q=ru">Архивы РАН</a></li>
        <li><a href="http://gramoty.ru/">Сайт &laquo;Древнерусские берестяные грамоты&raquo;</a></li>
        <li><a href="http://books.mathtree.ru/">Коллекция старинных математических книг</a></li>
        <li><a href="http://www.museum.ru/">Портал &laquo;Музеи России&raquo;</a></li>
    </ul>

}