@using System.Xml.Linq
@model IndexModel
@{ 
    IndexModel m = Model;
}
@{
}
<p class="grad">
    <a href="~/Home/Index" class="nov"><img src="~/images/ico-home.gif" class="ico-home" alt="" />Открытый архив</a>
    &raquo;
    <a href="~/Home/Index">Фонды</a>
</p>

<div class="heading1">
    <h1>@m.name</h1>
</div>
@foreach (XElement r in m.fonds)
{
    string name = r.Elements("field").First(f => f.Attribute("prop").Value == "http://fogid.net/o/name").Value;
    string img_src = "~/images/fund89x89.jpg";
    var qq = r.Elements("inverse").FirstOrDefault(inv => inv.Attribute("prop").Value == "http://fogid.net/o/reflected");
    if (qq != null)
    {
        img_src = "~/Docs/GetPhoto?s=small&u=" + qq.Value;
    }
    string id = r.Attribute("id").Value;
    <div class="block-25 small">
        <a href="~/Home/Portrait?id=@id">
            <img src="@Url.Content(img_src)" class="fund-face" alt="" /><br /><img src="~/images/line-person.gif" class="line-face" alt="" /><br />
            <span>@name</span>
        </a>
    </div>
}
<br clear="all" />

