@using System.Xml.Linq
@{
    //Layout = "~/_SiteLayout.cshtml";
    string sv = Context.Request.Form["searchvariant"];
    string ss = Context.Request.Form["searchstring"];
    if (string.IsNullOrEmpty(ss)) { return; }
    var searchresults = OpenArchive.StaticObjects.Engine.SearchByName(ss)
        .Where(ite => string.IsNullOrEmpty(sv) || ite.Attribute("type").Value == "http://fogid.net/o/" + sv)
        .Select(ite => OpenArchive.StaticObjects.Engine.GetItemByIdBasic(ite.Attribute("id").Value, false));
    IComparer<string> comparedates = new OpenArchive.SCompare();
}
<p class="grad">
	<a href="~/Home/Index" class="nov"><img src="~/images/ico-home.gif" class="ico-home" alt="" />Открытый архив</a>
	&raquo;
	Результаты поиска
</p>

@if (searchresults.Count() > 0)
{
<ul class="links">
    @foreach (XElement ite in searchresults
       .OrderBy(it => OpenArchive.StaticObjects.GetField(it, "http://fogid.net/o/name"))
       .ThenBy(it => OpenArchive.StaticObjects.GetDates(it), comparedates)
       //.Take(40)
       )
    {
        string nm = OpenArchive.StaticObjects.GetField(ite, "http://fogid.net/o/name");
        string dt = OpenArchive.StaticObjects.GetDates(ite);
        string descr = OpenArchive.StaticObjects.GetField(ite, "http://fogid.net/o/description");
        <li>
            <a href='~/Home/Portrait?id=@ite.Attribute("id").Value'>@nm</a>
            @if (!string.IsNullOrEmpty(dt))
            {
                <span>(@dt)</span>
            }
            @descr
        </li>
    }
</ul>
} else {
}
<div>Всего: @searchresults.Count()</div>
