<!DOCTYPE html>
<html>
<head>
    <title>СО РАН</title>
    <link rel="stylesheet" type="text/css" href="~/css/zh1.css" />
    <link rel="shortcut icon" href="~/favicon.gif" type="image/gif" />
</head>
<body>
    @RenderBody()
</body>
</html>

