<p class="grad">
    <a href="~/Home/Index" class="nov"><img src="~/images/ico-home.gif" class="ico-home" alt="" />Открытый архив</a>
    &raquo;
    О проекте
</p>

@*@RenderPage("PageAbout.cshtml")*@
<div class="heading1">
    <h1>О проекте</h1>
</div>

<p>
    <b class="drop-cap">П</b>роект &laquo;Открытый архив СО&nbsp;РАН как электронная система накопления, представления и&nbsp;хранения
    научного наследия&raquo; М-48 выполняется согласно Постановлению Президиума СО&nbsp;РАН &#8470;&nbsp;52
    от&nbsp;09.02.2012&nbsp;г. Проект базируется на&nbsp;идеологии синтеза гуманитарных наук и&nbsp;информационных
    технологий. Для введения в&nbsp;научный оборот широкого круга исторических источников создано
    специализированное информационно-коммуникативное пространство&nbsp;&mdash; Открытый электронный архив СО&nbsp;РАН.
    Такая форма представления расширяет сферу приложения информационных технологий как средства
    визуализации артефактов, удобной среды для работы с&nbsp;архивными и&nbsp;музейными материалами,
    их&nbsp;систематизации и&nbsp;атрибутирования. Это позволяет реализовать возможности междисциплинарности
    в&nbsp;научных исследованиях, решить фундаментальную комплексную гносеологическую задачу повышения уровня
    доступности контента (источников), упрочить основание для получения истинного и&nbsp;достоверного знания
    в&nbsp;гуманитарных науках. Электронный архив как средство интеграции документов из&nbsp;различных архивных
    собраний, подтверждает свою эффективность.
</p>
<p>
    На&nbsp;базе технологий исторической фактографии, разработанной в&nbsp;ИСИ СО&nbsp;РАН, создана платформа для хранения
    и&nbsp;актуализации коллекций академических архивов и&nbsp;музеев, отражающих научное наследие СО&nbsp;РАН. Музейные
    и&nbsp;архивные коллекции являются важным звеном в&nbsp;представлении исторических фактов, источниковой базой для
    проведения фундаментальных научных исследований исторического характера в&nbsp;самых разных областях
    гуманитарного знания. Архивы, представленные в&nbsp;проекте, ранее практически не&nbsp;были обнародованы.
    Их&nbsp;публикация согласована с&nbsp;фондообладателями, идет научная интерпретация коллекций. В&nbsp;2013&nbsp;г. в&nbsp;серии
    &laquo;Наука Сибири в&nbsp;лицах&raquo; издана <a href="http://www.iis.nsk.su/files/book/file/rumer.pdf">книга &laquo;Юрий Борисович Румер. Физика, XX&nbsp;век&raquo;</a>, в&nbsp;которую вошли некоторые
    материалы из&nbsp;электронного архива. Приведена <a href="http://www.prometeus.nsc.ru/science/schools/rumer/biblio/page1.ssi">библиография</a>,
    подготовленная участниками проекта на&nbsp;основе документов, размещенных в&nbsp;Открытом архиве СО&nbsp;РАН.
</p>

<br />
<img src="~/images/line-dotted.gif" width="150" height="1" alt="" />

<p>См. также:</p>
<ul class="also">
    <li><a href="~/Home/Participants">Участники проекта</a></li>
    <li><a href="~/Home/Contacts">Контакты</a></li>
</ul>

@section rightpanel {
    <div class="heading3">
        <h3>Полезные ссылки</h3>
    </div>
    <ul class="links">
        <li><a href="http://ershov.iis.nsk.su/russian/index.html">Электронный архив академика А.&nbsp;П.&nbsp;Ершова</a></li>
        <li><a href="http://soran1957.ru/">Фотоархив СО&nbsp;РАН</a></li>
        <li><a href="http://lyapunov.vixpo.nsu.ru/">Музей чл-корр. АН&nbsp;СССР А .А. Ляпунова</a></li>
        <li><a href="http://www.rusarchives.ru/">Портал &laquo;Архивы России&raquo;</a></li>
        <li><a href="http://www.arran.ru/?q=ru">Архивы РАН</a></li>
        <li><a href="http://gramoty.ru/">Сайт &laquo;Древнерусские берестяные грамоты&raquo;</a></li>
        <li><a href="http://books.mathtree.ru/">Коллекция старинных математических книг</a></li>
        <li><a href="http://www.museum.ru/">Портал &laquo;Музеи России&raquo;</a></li>

        <li><a href="https://proza.ru/avtor/mikat/?q=ru">Михаил Самуилович Качан. Воспоминания</a></li>
        <li><a href="https://monornament.ru/">Сайт «Монголо-бурятский орнамент»</a></li>
        <li><a href="https://www.integralmuseum.ru/">Интегральный музей-квартира повседневности Академгородка</a></li>
        <li><a href="http://modernproblems.org.ru/">Современные проблемы. Библиотека им. Елены Евдокимовой</a></li>
    </ul>
}