<p class="grad">
    <a href="~/Home/Index" class="nov"><img src="~/images/ico-home.gif" class="ico-home" alt="" />Открытый архив</a>
    &raquo;
    Контакты
</p>

@*@RenderPage("PageContacts.cshtml")*@
<h2>Координаторы блоков проекта</h2>

<span>Программистский блок</span>
<ul class="staff">
    <li>
        <span>
            научный руководитель проекта Александр Гурьевич Марчук, д.ф .- м.н. ИСИ СО&nbsp;РАН<br />
            <a href="mailto:mag@iis.nsk.su">mag@iis.nsk.su</a>
        </span>
    </li>
</ul>

<span>Контентный блок</span>
<ul class="staff">
    <li>
        <span>
            Аркадий Викторович Бауло, д.и.н. ИАЭТ СО&nbsp;РАН<br />
            <a href="mailto:baulo@archaeology.nsc.ru">baulo@archaeology.nsc.ru</a>
        </span>
    </li>
</ul>


<span>Информационно-технологический блок</span>
<ul class="staff">
    <li>
        <span>
            Борис Степанович Елепов, д.т.н. ГПНТБ СО&nbsp;РАН<br />
            <a href="mailto:elepov@spsl.nsc.ru">elepov@spsl.nsc.ru</a>
        </span>
    </li>
</ul>


<span>Исследовательский блок</span>
<ul class="staff">
    <li>
        <span>
            Владимир Александрович Ламин, чл.-корр. РАН<br />
            <a href="mailto:lamin@history.nsc.ru">lamin@history.nsc.ru</a>;
        </span>
    </li>
    <li><span>Ольга Николаевна Шелегина, д.и.н. ИИ&nbsp;СО&nbsp;РАН</span></li>
</ul>


<span>Ученый секретарь проекта</span>
<ul class="staff">
    <li>
        <span>
            Ирина Александровна Крайнева, к.и.н. ИСИ СО&nbsp;РАН<br />
            <a href="mailto:cora@iis.nsk.su">cora@iis.nsk.su</a>
        </span>
    </li>
</ul>



<h2>Исполнители проекта</h2>

<div class="block-50">
    <ul class="staff">
        <li><span>Алексей Александрович Фурсенко, ИСИ СО&nbsp;РАН</span></li>
        <li><span>Марина Васильевна Аюшеева, к.и.н. ЦВРК ИМБТ СО&nbsp;РАН</span></li>
        <li><span>Сергей Александрович Батурин, к.и.н. ИМБТ СО&nbsp;РАН</span></li>
        <li><span>Андрей Юрьевич Бородихин, к.филолог.н. ГПНТБ СО&nbsp;РА</span>Н</li>
        <li><span>Светлана Валерьевна Бураева, д.и.н. ИМБТ СО&nbsp;РАН</span></li>
        <li><span>Владимир Митапович Васильев, ИМБТ СО&nbsp;РАН</span></li>
    </ul>
</div>
<div class="block-50">
    <ul class="staff">
        <li><span>Лариса Николаевна Демина, ИСИ СО&nbsp;РАН</span></li>
        <li><span>Светлана Ивановна Жуковская, ИСИ СО&nbsp;РАН</span></li>
        <li><span>Ирина Юрьевна Павловская, ИСИ СО&nbsp;РАН</span></li>
        <li><span>Зоя Абрамовна Черкасская, ИСИ СО&nbsp;РАН</span></li>
        <li><span>Андрей Васильевич Шабанов, ГПНТБ СО&nbsp;РАН</span></li>
    </ul>
</div>
<br clear="all" />

<br />
<img src="~/images/line-dotted.gif" width="150" height="1" alt="" />

<p>См. также:</p>
<ul class="also">
    <li><a href="~/Home/About">О проекте</a></li>
    <li><a href="~/Home/Participants">Участники проекта</a></li>
</ul>

@section rightpanel {
    <div class="heading3">
        <h3>Полезные ссылки</h3>
    </div>
    <ul class="links">
        <li><a href="http://ershov.iis.nsk.su/russian/index.html">Электронный архив академика А.&nbsp;П.&nbsp;Ершова</a></li>
        <li><a href="http://soran1957.ru/">Фотоархив СО&nbsp;РАН</a></li>
        <li><a href="http://lyapunov.vixpo.nsu.ru/">Музей чл-корр. АН&nbsp;СССР А .А. Ляпунова</a></li>
        <li><a href="http://www.rusarchives.ru/">Портал &laquo;Архивы России&raquo;</a></li>
        <li><a href="http://www.arran.ru/?q=ru">Архивы РАН</a></li>
        <li><a href="http://gramoty.ru/">Сайт &laquo;Древнерусские берестяные грамоты&raquo;</a></li>
        <li><a href="http://books.mathtree.ru/">Коллекция старинных математических книг</a></li>
        <li><a href="http://www.museum.ru/">Портал &laquo;Музеи России&raquo;</a></li>

        <li><a href="https://proza.ru/avtor/mikat/?q=ru">Михаил Самуилович Качан. Воспоминания</a></li>
        <li><a href="https://monornament.ru/">Сайт «Монголо-бурятский орнамент»</a></li>
        <li><a href="https://www.integralmuseum.ru/">Интегральный музей-квартира повседневности Академгородка</a></li>
        <li><a href="http://modernproblems.org.ru/">Современные проблемы. Библиотека им. Елены Евдокимовой</a></li>
    </ul>
}