@page "/portrait"
<h3>Portrait</h3>

<div>id=@id</div>

@code {
    [Parameter]
    public string id { get; set; }

    //protected override async Task OnInitializedAsync()
    //{
    //    //xresult = await VService.GetItemAsync("пупкин");
    //}
}
