@page "/viewer"

@using System.Xml.Linq
@using BlazorApp2.Data
@using Microsoft.AspNetCore.Html

@inject ViewerService VService


<h3>Viewer</h3>
<input @bind="searchstring" />
<button class="btn btn-primary" @onclick="SearchAsync">Click me</button>

<div>This component demonstrates fetching data from a service.</div>

<div>
    @xresult
</div>
<button @onclick="View">Нажми меня</button>
<div id="qwerty">
    @yresult
</div>

@{
    void RenderName(string name)
    {
        <p>Name: <strong>@name</strong></p>
    }
    RenderName("Mahatma Gandhi");
    RenderName("Martin Luther King, Jr.");
}

@code {
    private string searchstring { get; set; }
    private XElement xresult;
    private XElement yresult = null;
    private string zresult = "<h2>Это h2</h2>";

    protected override async Task OnInitializedAsync()
    {
        xresult = await VService.GetItemAsync("пупкин");
    }
    private async Task SearchAsync()
    {
        xresult = await VService.GetItemAsync(searchstring);
    }
    private void View()
    {
        yresult = new XElement("h1", "Hi!");
    }
}
