<?xml version="1.0" encoding="utf-8" ?>
<config>
  <database connectionstring="trs:D:\Home\data\Databases\OADataService\" />
  <!--<Net src="http://localhost:51056" />-->

  <LoadCassette write="yes">D:\Home\FactographProjects\Cassette_test20180311</LoadCassette>
  <!--
  syp2001-p-marchuk_a идентификатор Марчука
  -->

</config>