<?xml version="1.0" encoding="utf-8" ?>
<config>
  <database connectionstring="trs:C:/Home/data/Databases/OADataService/" />

  <LoadCassette>C:\Home\syp\syp_cassettes\SypCassete</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\SypUsers</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp_2012_1</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp_2012_mag</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp_2012_Tikhonova</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp_2013</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2011</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2011video</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2013Users</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2013video</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2014</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2014conf_video</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2014Users</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2014video</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2015</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2015Bratus</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2015conf_video</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2015Users</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2015video</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2016</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2016Users</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2016video</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2016video2</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2017</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2017Users</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2017video</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2018</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2018Users</LoadCassette>
  <LoadCassette>C:\Home\syp\syp_cassettes\Syp2018video</LoadCassette>
</config>