@page "/ParentComponent"

<h2>Parent-child example @result</h2>

@*<ChildComponent Title="Panel Title from Parent"
                    OnClickCallback="@ShowMessage">
        Content of the child component is supplied
        by the parent component.
    </ChildComponent>*@

<BlazorApp3.Components.ChildComponent Title="Panel Title from Parent 1" OnClickCallback="PseudoButton">
    Content of ChildComponent 
</BlazorApp3.Components.ChildComponent>
<hr/>
<BlazorApp3.Components.ChildComponent Title="Panel Title from Parent 2">
    Content of ChildComponent 2
</BlazorApp3.Components.ChildComponent>

@code{
    private string result = "";
    private int count = 1;
    private void PseudoButton()
    {
        result = "Title changed " + count;
        count++;
    }
}