@page "/proba"
@using System.Xml.Linq

<h1>Hello, Proba!</h1>

Welcome to your new Proba app.

<button class="btn btn-primary" @onclick="Press">Click me</button>
<div>
    @if (pressed)
    {
        <h2>Pressed</h2>
    }
    else
    {
        <span>unpressed</span>
    }
</div>

<input @bind="searchstring" />
<button class="btn btn-primary" @onclick="Search">Click me</button>

<div>
    @if (yresults != null)
    {
        foreach (var y in yresults)
        {
            <div>@y[0] <a href="Proba?id=@y[1]">@y[2]</a></div>
        }
    }

</div>

@code {
    private bool pressed = false;
    private void Press()
    {
        pressed = !pressed;
    }

    private string searchstring;
    //private XElement xresults;
    private string[][] yresults;
    private void Search()
    {
        yresults = BlazorApp3.Data.DService.Search(searchstring).ToArray();
    }

}