<?xml version="1.0" encoding="utf-8" ?>
<config>
	<database dbname="oa" connectionstring="polar:D:\home\FactographDatabases\polar\"/>
  <LoadCassette write="yes">D:\Home\Cassette_test20180311</LoadCassette>

  <!--
  <LoadCassette regime="nodata">D:\Home\FactographDatabases\test1</LoadCassette>

  <LoadCassette regime="nodata">F:\syp\syp_cassettes\SypCassete</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\SypUsers</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp_2012_1</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp_2012_mag</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp_2012_Tikhonova</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\syp_2013</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2011</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2011video</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2013Users</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2013video</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2014</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2014conf_video</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2014Users</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2014video</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2015</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2015Bratus</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2015conf_video</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2015Users</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2015video</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2016</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2016video</LoadCassette>
  <LoadCassette regime="nodata">F:\syp\syp_cassettes\Syp2016video2</LoadCassette>
  <LoadCassette write="yes">F:\syp\syp_cassettes\Syp2016Users</LoadCassette>
-->
  </config>
