@page "/ChildComponent"

    <div class="panel panel-default">
        <div class="panel-heading">@Title</div>
        <div class="panel-body">@ChildContent</div>

        <button class="btn btn-primary" @onclick="OnClickCallback">
            Trigger a Parent component method
        </button>
        <button class="btn btn-primary" @onclick="SimpleButton">
            Simple button
        </button>
    </div>

@code {
    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public EventCallback<MouseEventArgs>
    OnClickCallback { get; set; }

    private int count = 1;
    private void SimpleButton()
    {
        Title = "Title changed " + count;
        count++;
    }

    }

    
