
@{
    ViewData["Title"] = "Index of ExamplePartial";
}

<h2>Index</h2>
Information about project
<form asp-controller="ExamplePartial">
    <div id="coursedetails">

    </div>
</form>

<script>
    $.ajax({
        url: "Create",
        type: "Get",
        success: function (response) {
            $("#coursedetails").html(response);
        }
    });
</script>
