
@{
    string mess = (string)ViewData["Title"];
}

<h2>@mess</h2>
<div>
    <a href="" onclick="event.preventDefault(); HttpAsk('get', '/Home/Construct', null, 'result')">Нажми!</a>
</div>

<script>
    function DoEdit(elem) {
        alert("DoEdit() action [" + elem.getAttribute("href") + "]");
        $.ajax({
            //url: 'response.php?action=sample1',
            url: 'Construct',
            success: function (data) {
                alert('receiver message');
                //$('.results').html(data);
                document.getElementById('results').innerHTML = "<b>Hi!</b>";
            }
        });
    }
</script>
<div id="eid">
    [ <a href="/Home/Construct" onclick="event.preventDefault(); DoEdit(this)">ред</a> ]
</div>

<div id="results">
    Результаты
</div>
<div id="result">
    Результат
</div>



