
@{
}

<div>
    <a href="~/Room216/Init">Инициировать (начать заново)</a>
</div>
<div>
    <a href="~/Room216/Load">Загрузить</a>
</div>
<div>
    <a href="~/Room216/Load?nom=1">Загрузить 1</a>
</div>
